.opgrImages {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  

    flex-direction: column;
  @media (min-width:801px) {
    float: right;
    width: 50%;
    margin-left: 30px;
  }
  div{
    flex: 1;
    position: relative;
    img {
      width: 100%;
    }
    img:nth-of-type(even){
      position: absolute;
      top:0;
      left: 0;
      animation: opgrTransition 6s linear infinite;
    }
  }
}
@keyframes opgrTransition {
  0% {opacity: 0;}
  10% {opacity:1;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  100%{opacity: 0;}
}