$green: #c3fe0b;
$black: #000414;//#0d0f16;
$navy: #081649;//#050e2d;
$lightNavy: #0b2783;//#0a1c5c;//#220a5c;//#081649;
$gradient: linear-gradient(-25deg, #fff 0% 50%,$black 50% 51%, $green 51% 100%);