* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
$green: #c2fe0c;
$black: #0d0f16;
html, body {
  padding: 0;
  margin: 0;
  background: $black;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}
body {
    padding-top: 100vh;
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "M PLUS 1 Code", monospace;
  font-weight: 500;}
h1{
  font-size: 80px;
}
h2{
  font-size: 64px;
}
h3{
  font-size: 48px;
}
h4{
  font-size: 36px;
}

main {
  padding: 0;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  padding: 30px;
  max-width: 1100px;
  margin-inline: auto;
}

.button {
  background: $green
  linear-gradient( -25deg, #fff 0%, #fff 50%, $green 50%, $green 100%)
  100% 0% /
  250% 100%
  no-repeat;
  font-size: 24px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .35s;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  &:hover, &:focus{
    background-position: 0% 0%;
  }
}
