@use 'colors';
@use 'spacing';
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body {
  padding: 0;
  margin: 0;
  background: colors.$black;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}
body {
    //padding-top: 100vh;
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "M PLUS 1 Code", monospace;
  font-weight: 500;
  margin: 0 0 10px;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 24px;
}
p {
  margin: 0 0 24px;
}

main {
  padding: 0;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
img {
  max-width: 100%;;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
.wrapper {
  position: relative;
}
.content {
  padding: spacing.$basePadding;
  max-width: spacing.$contentWidth;
  margin-inline: auto;
  background: colors.$black;
  position: relative;
}
.bigText{ 

  max-width: 770px;
  p {
    font-size: 28px;
    margin: 0 0 20px;
  }
}



.fortyseven {
    transform-origin: 100% 100%;
    height: 47px;
    position: absolute;
    left: 30px;
    /* transform: rotate(-90deg) translateX(18px); */
    top: -38px;
}
//default links
a {
  color: colors.$green;
  transition: .35s;
  &:hover, &:focus {
    color: #fff;
  }
}
.button {
  background: colors.$green
  colors.$gradient
  100% 0% /
  280% 100%
  no-repeat;
  font-size: 24px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .35s;
  color: colors.$black;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  font-family: "M PLUS 1 Code", monospace;
  font-weight: 500;
  &:hover {
    background-position: 0% 0%;
  }
  &:hover, &:focus{
    color: colors.$black;
  }
}
.menuPlaceholder {
  height: 53px;
  display: none;
  @media (max-width: 1180px) {
    display: block;
  }
}
.menu {
  right: 0;
  z-index: 99999;
  width: 60px;
  margin-left: auto;
  button {
    background: colors.$black;
    border: none;
    position: relative;
    z-index: 999999;
    svg {
      stroke: #fff;
      transition: stroke .35s;
      &:hover {
        stroke: colors.$green;
      }
    }
  }
  ul {
    list-style-type: none;
  }
  .menuContainer {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    //transition: transform .5s;
    width: 270px;
    //transform:translateX(100%);
    animation: menuOut .5s 1 forwards;
    background: colors.$navy;
    padding: 69px 24px 32px;
    height: 100vh;
    & > ul {
        margin: 0;
        padding-left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        a {
          text-decoration: none;
        }
        li {
          margin-bottom: 16px;
        }
        ul {
          padding-left:0px;
          padding-top: 16px;
          margin-block: 16px;
          border-block: 1px solid colors.$green;
          transition: .5s;
          overflow: hidden;
          //display: none;
          animation: menuOut .75s 1 forwards;
          &.open {
            display: block;
            animation: menuIn .75s 1 forwards;

          }
        }
      }
  }
  
  .submenu-toggle {
    background: none;
    color: colors.$green;
    font-size: 18px;
    padding: 0;
    &:hover, &:focus {
      color: #ffffff
    }
  }
  &.open {
    button {
      background: transparent;
    }
    .menuContainer {
      animation: menuIn .5s 1 forwards;
    }
  }
}
@keyframes menuIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes menuOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.barcode {
  position: absolute;
  top: -10px;
  right: 0px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$black;
  border-top: 1px solid colors.$lightNavy;
  position: relative;
  overflow: hidden;
  p {
    margin-top: 30px;
  }
  @media (max-width: 730px) {
    padding-top: 48px;
    .barcode {
      right: unset;
    }
  }

}


